pdfplumber
langchain-text-splitters
google-genai
python-dotenv
pydantic
sentence-transformers
scikit-learn
numpy
rapidfuzz
langchain-google-genai
langchain-neo4j
fastapi
uvicorn[standard]
python-multipart
